body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    background-color: #545455;
    color: #fff;
    text-align: center;
    padding: 1em 0;

}


nav {
    background: -webkit-linear-gradient(top, #5898f8f0 50%, #eb7777 90%);
    text-align: center;
    padding: 0.5em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #323233;
    box-shadow: rgb(100 100 10) 5 px 5px 10px inset;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-weight: bold;
}

h2, h3 {
    margin: 0;
    color:rgb(10, 43, 150);
}

p {
    margin: 0.5em 0;
}

section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

.project {
    margin: 1em 0;
}

.project a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input, textarea {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    margin-top: 1em;
    padding: 0.7em;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}


#contact {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group {
    margin-bottom: 1.5em;
    background: #323233;
    border: none;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button[type="submit"] {
    background-color: #1f68f1;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #555;
}


footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}